#root {
  margin: 0 auto;
  padding: 6rem 2rem 2rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.container {
  padding: 5rem 7em 2rem 7rem;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgb(1, 32, 94, 0.8) 74.52%
  );
  border-radius: 48px;
  position: relative;
  max-width: 480px;
}

.picture {
  position: absolute;
  left: 50%;
  top: 0;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #ffffff;
}

.logo {
  display: block;
  width: 130px;
  margin: 0 auto;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.description {
  margin: 2rem auto 3rem auto;
}

h1 {
  text-transform: uppercase;
  font-size: 0.9em;
  line-height: 1.1;
}

h2 {
  font-size: 0.825em;
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  padding: 0.5em 1.5em 0.2em;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: #ffffff;
  border-radius: 48px;
  white-space: nowrap;
  font-family: "Zooja Pro";
  gap: 0.8em;

  color: #012161;
}
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
  -webkit-tap-highlight-color: none;
}

ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.button::after {
  display: block;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #a2aec8;
  border-radius: inherit;
  content: "";
  transition: left 0.2s ease-out, top 0.2s ease-out;
}

.button:hover::after {
  left: 5px;
  top: 5px;
}

.button svg,
.button img {
  width: 1.5em;
  position: relative;
  top: -4px;
  fill: #012161;
}

li:not(:last-of-type) {
  margin-bottom: 1.3rem;
}

footer {
  margin-top: auto;
  font-family: "Zooja Pro";
}

.lang-switcher {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 20px;
  right: 20px;
  width: auto;
  gap: 0.4rem;
}

.lang-switcher-item {
  width: 40px;
  cursor: pointer;
  fill: #ffffff;
  opacity: 0.4;
  transition: opacity 0.2s ease-out;
}

.lang-switcher-item.active {
  opacity: 1;
}
